# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\rezat\OneDrive\Desktop\calculator-037d85995da364d2415f59a6ee8886bcc94aa912\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
